/* other elements */
#personal {
  height: 6vh;
  background-color: rgb(255, 255, 255);
  display: flex;
}

#chatbox {
  max-height: 87vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f3f0f0;
  position: scroll;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
}

#userimage {
  padding: 0px;
  height: 5.6vh;
  width: 5.6vh;
  border-radius: 50%;
  margin: 1px;
}
#personal > strong {
  font-size: larger;
  font-family: sans-serif;
  padding-top: 10px;
  margin-left: 10px;
  cursor: default;
  color: rgb(168, 16, 214);
}
* {
  border: 2px solid transparent;
  font-family: sans-serif;
}
#optionbox {
  background-color: #f1f1f1dc;
  height: fit-content;
  width: 20vw;
  align-items: center;
  position: absolute;
  top: -100%;
  left: 10%;
  border-radius: 10%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(182 24 255 / 26%) 3px 3px 7px;
  opacity: 0;
  filter: blur(0.4px);
}
#optionbox > li {
  display: block;
  list-style: none;
  padding: 1%;
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 2.1%;
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}
#optionbox > li:hover {
  color: rgba(197, 23, 197, 0.671);
}
hr {
  border: 1px solid rgba(82, 82, 82, 0.123);
}

#search {
  border: 1px solid brown;
  border-radius: 40px;
  height: 20px;
  width: 70%;
  display: block;
  margin: auto;
  background-color: rgb(241, 241, 241);
  border: none;
  margin-top: 10px;
  padding: 5px;
  padding-left: 30px;
  font-size: 17px;
  outline: rgb(0, 238, 255) 1px solid;
  outline: none;
}
#personimage {
  height: 100%;
  width: 50px;
  margin-left: 10px;
  display: inline-block;
}
#personrealimg {
  position: absolute;
  height: 33px;
  width: 33px;
  border-radius: 50%;
}

#chatperson {
  background-color: white;
}
#messageinput {
  display: inline-block;
  margin: auto;
  margin-right: 10vw;
  height: 3.4vh;
  border-radius: 20px;
  width: 90vh;
  outline: transparent;
  padding-left: 10px;
  background-color: rgb(241 200 255);
  color: rgba(0, 0, 0, 0.986);
  border: rgba(252, 247, 247, 0) 2px solid;
  font-size: 17px;
}
#send {
  display: inline-block;
  width: 8vh;
  height: 3vh;
  margin-right: 20vw;
  background: none;
  cursor: default;
}
#send > img {
  cursor: pointer;
  height: 5%;
  width: 5%;
  background: transparent;
  margin: -3px;
  animation-name: myanimation2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  position: fixed;
  top: 93%;
  left: 93%;
}
@keyframes myanimation {
  0% {
    top: 90%;
    left: 90%;
  }
  50% {
    top: 50%;
    left: 50%;
  }

  100% {
    top: -4%;
    left: -4%;
  }
}

#about {
  position: absolute;
  width: fit-content;
  background-color: rgba(20, 18, 18, 0.774);
  border-radius: 7px;
  padding: 2px;
  color: white;
  /* display: none; */
  padding: 3px;
  opacity: 0;
}
#dropdown2 {
  height: fit-content;
  width: fit-content;
  margin-left: 75%;
  margin-top: -5%;
  font-size: 32px;
  text-align: center;
  /* cursor: pointer; */
}
#shared {
  border: 2px rgba(159, 4, 231, 0) solid;
  background-color: #f1f1f1dc;
  position: absolute;
  border-radius: 5%;
  max-height: 80vh;
  height: fit-content;
  transition: height 1s ease-in;
  width: 19vw;
  /* top: -100%; */
  top: 10%;
  left: 73%;
  padding: 10px;
  box-shadow: rgb(182 24 255 / 26%) 3px 3px 7px;
}
.sharedm {
  /* border: 1px solid red; */
  height: fit-content;
  max-height: 60vh;
  overflow: scroll;
}
#medias > .list > img:hover {
  box-shadow: rgba(120, 28, 163, 0.87) 3px 3px 7px;
  /* transition: width 1s ease-in;
  transition: height 1s ease-in;
  width: 53px;
  height: 53px; */
}
#medias > .list > img {
  width: 51px;
  height: 51px;
  border-radius: 8px;
  cursor: pointer;
  margin: 2px;
}
#imagecontainer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 247, 255, 0.123);
  display: flex;
  display: none;
  align-items: center;
  background: linear-gradient(0deg, #64267ab3, #ddd5e199);
}
#image {
  opacity: 1;
  display: block;
  margin: auto;
  width: 100px;
  height: fit-content;
  border-radius: 10px;
}
#exit {
  position: absolute;
  left: 90vw;
  top: 2vh;
  cursor: pointer;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  z-index: 2;
}
#exit > img {
  height: 80%;
  width: 80%;
  display: block;
  margin: auto;
}
#exit:hover {
  filter: saturate(2);
}
