body {
  background-color: rgb(255, 240, 240);
  overflow: hidden;
}
* {
  /* border: 1px solid green; */
  color: rgba(0, 0, 0, 0.411);
}
/* our outermost wrapper */
#outermostwrapper {
  /*  Useless css  */
  background-color: rgba(255, 255, 255, 0.842);
  border: 1px solid rgb(255, 132, 132);
  /* usefull */
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "topleft navbar navbar navbar navbar navbar navbar navbar navbar"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section"
    "side section section section section section section section section";
}
.items {
  border: 2px solid transparent;
  font-size: 18px;
}
#siteinfo {
  background-color: rgb(255, 255, 255);
  grid-area: topleft;
}
#navbar {
  background-color: rgb(248, 248, 248);
  grid-area: navbar;
}
#section {
  background-color: rgb(255 255 255 / 92%);
  grid-area: section;
  border-radius: 6px;
  overflow-y: scroll;
}
#side {
  background-color: rgba(213, 213, 213, 0.14);
  grid-area: side;
  z-index: 1;
  box-shadow: 1px 7px 10px 2px rgba(209, 209, 209, 0.542);
  border-radius: 3px;
  width: 500px;
  transition: width 0.5s ease-out;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
#section {
  /* margin-left: 0px;
  transition: margin-left 1s ease-in; */
  /* margin-left: 1000px; */
  /* margin-left: 0px; */
  /* transition: margin-left 1s ease-in; */
}
